{% extends 'basic_logged.html' %}
{% block title %}
    ADMINISTRATION
{% endblock %}
{% block content %}
    <style>
    input{
        /* It isn´t responsive*/
        width: 60%;
    }
    </style>
        <form action="{% url 'change_scheme' %}" method="post" class="">

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <td>TYPE(*)</td>
                <td>NAME(*)</td>
                <td>LABEL</td>
                <td>PLACEHOLDER</td>
                <td>HELP_TEXT</td>
                <td>REQUIRED</td>
                <td>OPTION</td>
                <td>DELETE</td>
            </tr>
        </thead>
        <tbody id="table_body">

            {% csrf_token %}
                {% for field in forms %}
                    <tr>
                        {% for attr in field %}
                        <td class="{% cycle '_type ' '_name' '_label' '_placeholder' '_help' '_required' '_option' as rowcolors%}{% if rowcolors == '_type ' %}{{ attr.value }}{% endif %}">
                            {{ attr }}
                        </td>
                        {% endfor %}
                        <td><span class="glyphicon glyphicon-minus delete_row" aria-hidden="true"></span></td>
                    </tr>
                {% endfor %}
                <input type="submit" value="Submit" />

        </tbody>
    </table>
    </form>
    <span id="add_row" class="glyphicon glyphicon-plus" aria-hidden="true"></span>

    <script>
        $( document ).ready(function() {
            var row_id = $('#table_body tr').length;

            var check_type = function (node) {
                var node_place = $(node).siblings('._placeholder').children();
                var node_option = $(node).siblings('._option').children();
                c = '_type '+$(node).children().val();
                $(node).attr('class', c);
                if($(node).hasClass("select")){
                    node_place.prop('disabled', true);
                    node_option.prop('disabled', false);
                }else if($(node).hasClass("boolean")){
                    node_place.prop('disabled', true);
                    node_option.prop('disabled', true);
                }else{
                    node_place.prop('disabled', false);
                    node_option.prop('disabled', true);
                }
            };

            // FOR INITIAL VALUE TYPE.
            $('#table_body tr ._type').each(function() {
              check_type(this)
            });

            // FOR CHANGE VALUE TYPE.
            $(document).on("change", "._type", function(){
                check_type(this);
            });

            // NEW ROW
            $('#add_row').on('click', function(){
                row = $('#table_body tr:last').clone(true);
                row.find("td input:text, td input:radio, td select").each(function() {
                    id = $( this ).attr("id").replace(/\d+/,row_id);
                    name = $( this ).attr("name").replace(/\d+/,row_id);
                    $( this ).attr("id", id);
                    $( this ).attr("name", name);
                });
                $('#table_body').append(row);
                row_id++;
            });

            // DELETE ROW
            $(document).on("click", ".delete_row", function(){
                $(this).closest('tr').remove();
            });

        });
    </script>

{% endblock %}
