{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <!-- CSS -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

        <!-- JS -->
        <script src="{{ STATIC_URL }}js/jquery-2.2.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <p class="text-center">TESTS MANAGEMENT SYSTEM</p>
                    <p class="text-right">{% block logout %}{% endblock %}</p>
                </div>
                <div class="panel-body text-center">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="text-right footer">
                jesusce21
            </div>
        </div>
    </body>
</html>

